.begriff {
    border: 4px solid purple;
    border-radius: 13px;
    width: fit-content;
    padding: 30px;
    margin: auto;
    background-color: white;
    transition: background-color .4s ease-in-out;
    
}

.begriff:hover {
    background-color: lightpink;
}

.container {
    display: flex;
    flex-direction: column;
    justify-self: center;
    margin: 40px;
}

.container:focus {
    width: 400px;
}

.container textarea {
    height: 100px;
    margin-top: 5px;
}

.container label[for="message"] {
    margin-top: 20px;
}

.container input[type="submit"]{
    width: fit-content;
    margin-top: 20px;
}

.container label[for="subject"] {
    margin-top: 20px;
}

.container input[id="address"] {
    width: 150px;
    transition: width .4s ease-in-out;
    border: 3px solid seagreen;
    border-radius: 10px;
    outline: none;
    border-right: none;
    border-top: none;
}
.container input[id="address"]:focus {
    width: 400px;
}

.container input[id="subject"] {
    width: 150px;
    transition: width .4s ease-in-out;
    border: 3px solid seagreen;
    border-radius: 10px;
    outline: none;
    border-right: none;
    border-top: none;
}
.container input[id="subject"]:focus {
    width: 400px;
}

.container textarea {
    width: 150px;
    transition: width .4s ease-in-out;
    border: 3px solid seagreen;
    border-radius: 10px;
    outline: none;
    border-right: none;
    border-top: none;
}
.container textarea:focus {
    width: 400px;
}

.result {
    border: 6px solid darkred;
    width: fit-content;
    padding: 4px 10px;
    background-color: white;
    transition: background-color .4s ease-in-out;
}

.result:hover {
    background-color: rosybrown;
}

.container input[type="submit"] {
    background-color: seagreen;
    border-radius: 10px;
}

.container label {
    padding-bottom: 5px;
}