{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mail App</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <div>
        <div>
            <h1 class="begriff">Django Mail App</h1>
        </div>
        <form action="" method="post" class="container">
            {% csrf_token %}
            <label for="address">To:</label>
            <input type="email" id="address" name="address">

            <label for="subject">Subject:</label>
            <input type="text" id="subject" name="subject"/>

            <label for="message">Message:</label>
            <textarea name="message" id="message"></textarea>
            
            <input type="submit" value="send"/>
        </form>
        <div class="result">
            <p>{{result}}</p>
        </div>
    </div>
</body>
</html>

